:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(0, 0%, 98%);
  --dark-grey: hsl(0, 0%, 52%);
  --light-blue: hsl(209, 23%, 22%);
  --blue: hsl(207, 26%, 17%);
  --dark-blue: hsl(200, 15%, 8%);
}

#details {
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: center;
  gap: auto;
  background-color: var(--light-grey);
}
#details #details-container {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  gap: 5rem;
  width: 90%;
  padding: 5rem 0;
}
#details #details-container #back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--white);
  color: var(--dark-blue);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px;
  padding: 0.5rem 2rem;
}
#details #details-container #details-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: var(--dark-blue);
}
#details #details-container #details-content img, #details #details-container #details-content #details-info {
  width: 50%;
}
#details #details-container #details-content img {
  height: 25rem;
  box-shadow: 0 0 5px var(--dark-grey);
  border-radius: 5px;
}
#details #details-container #details-content #details-info {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  gap: 2rem;
}
#details #details-container #details-content #details-info #details-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
  gap: auto;
}
#details #details-container #details-content #details-info #details-flex #details-left, #details #details-container #details-content #details-info #details-flex #details-right {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  gap: 1rem;
}
#details #details-container #details-content #details-info #details-flex span {
  font-weight: 300;
}
#details #details-container #details-content #details-border {
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: auto;
  gap: 1rem;
}
#details #details-container #details-content #details-border #details-button {
  display: flex;
  flex-direction: row;
  justify-content: auto;
  align-items: auto;
  gap: 1rem;
  flex-wrap: wrap;
}
#details #details-container #details-content #details-border #details-button button {
  background-color: var(--white);
  color: var(--dark-blue);
  box-shadow: 0 0 5px var(--dark-grey);
  border: none;
  padding: 0.25rem 1rem;
}

@media (max-width: 1000px) {
  #details #details-container {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: auto;
    gap: 5rem;
  }
  #details #details-container #details-content {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
    gap: 5rem;
  }
  #details #details-container #details-content img, #details #details-container #details-content #details-info {
    width: 100%;
  }
  #details #details-container #details-content #details-info #details-flex {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: auto;
    gap: 2rem;
  }
}
@media (max-width: 500px) {
  #details #details-container #details-content img {
    height: auto;
  }
  #details #details-container #details-content #details-info #details-border {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: auto;
    gap: 1rem;
  }
}/*# sourceMappingURL=Details.css.map */