@import "../Variables/Variables";
@import "../Mixins/Mixins";

#country {
    background-color: var(--white);
    color: var(--dark-blue);
    box-shadow: 0 0 5px var(--dark-grey);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.25s;

    img {
        height: 150px;
        width: 100%;
        border-radius: 5px;
    }

    #country-body {
        padding: 1rem;

        h3 {
            margin-bottom: 0.5rem;
        }

        #country-info {
            @include flex(column, auto, auto, 0.25rem);

            h4 {
                span {
                    font-weight: $font-weight-light;
                }
            }
        }
    }
}