$small-font-size: 14px;
$large-font-size: 16px;
$font-family: 'Nunito Sans', sans-serif;
$font-weight-light: 300;
$font-weight-medium: 600;
$font-weight-thick: 800;

:root {
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(0, 0%, 98%);
    --dark-grey: hsl(0, 0%, 52%);
    --light-blue: hsl(209, 23%, 22%);
    --blue: hsl(207, 26%, 17%);
    --dark-blue: hsl(200, 15%, 8%);
}