$white: hsl(0, 0%, 100%); // Dark Mode Text & Light Mode Elements
$light-grey: hsl(0, 0%, 98%); // Light Mode Background
$dark-grey: hsl(0, 0%, 52%); // Light Mode Input
$light-blue: hsl(209, 23%, 22%); // Dark Mode Elements
$blue: hsl(200, 15%, 8%); // Light Mode Text
$dark-blue: hsl(207, 26%, 17%); // Dark Mode Background
$small-font-size: 14px; // Homepage Items
$large-font-size: 16px; // Detail Page
$font-family: 'Nunito Sans', sans-serif;
$font-weight-light: 300;
$font-weight-medium: 600;
$font-weight-thick: 800;