@import "../Variables/Variables";
@import "../Mixins/Mixins";

#home {
    @include flex(row, center, center, auto);
    background-color: var(--light-grey);
    transition-duration: 0.25s;

    #home-container {
        @include flex(column, auto, auto, 2rem);
        width: 90%;
        padding: 2rem 0;

        #filter {
            @include flex(row, space-between, center, auto);
        
            #search, #select {
                background-color: var(--white);
                color: var(--dark-blue);
                box-shadow: 0 0 5px var(--dark-grey);
                border: none;
                outline: none;
                border-radius: 5px;
                padding: 0.75rem 1rem 0.75rem 0.75rem;
                line-height: 0.75rem 1rem 0.75rem 0.75rem;
                text-indent: 0.75rem 1rem 0.75rem 0.75rem;
            }
        
            #search-container {
                position: relative;
        
                #search {
                    padding: 0.75rem 5rem 0.75rem 2.5rem;

                    &::placeholder {
                        color: var(--dark-blue);
                    }
                }
        
                i {
                    color: var(--dark-blue);
                    position: absolute;
                    left: 5%;
                    top: calc(100% / 3);
                }
            }
        
            #select, option {
                font-weight: $font-weight-medium;
            }
        }

        #list {
            #list-container {
                @include grid(repeat(4, 1fr), auto, 4rem);
            }
        }

        button {
            background-color: var(--white);
            color: var(--dark-blue);
            box-shadow: 0 0 5px var(--dark-grey);
            border: none;
            border-radius: 5px;
            width: fit-content;
            align-self: center;
            padding: 0.25rem 1rem;
            cursor: pointer;
        }
    }
}

@media (max-width: 1200px) {
    #home {
        #home-container {
            #list {
                #list-container {
                    @include grid(repeat(3, 1fr), auto, 4rem);
                }
            }
        }
    }
}

@media (max-width: 800px) {
    #home {
        #home-container {
            #list {
                #list-container {
                    @include grid(repeat(2, 1fr), auto, 4rem);
                }
            }
        }
    } 
}

@media (max-width: 500px) {
    #home {
        #home-container {
            #filter {
                @include flex(column, auto, center, 2rem);
                
                #search, #select {
                    width: 100%;
                }
        
                #search-container {
                    width: 100%;
        
                    i {
                        left: 1rem;
                    }
                }
        
            }

            #list {
                #list-container {
                    @include grid(minmax(200px, 300px), auto, 4rem);
                    justify-content: center;
                }
            }
        }
    }
}