@import "../Variables/Variables";
@import "../Mixins/Mixins";

#nav {
    @include flex(row, center, center, auto);
    background-color: var(--white);
    color: var(--dark-blue);
    box-shadow: 0 0 5px var(--dark-grey);
    transition-duration: 0.25s;

    #nav-container {
        @include flex(row, space-between, center, auto);
        width: 90%;
        padding: 1rem 0;

        button {
            background-color: transparent;
            color: var(--dark-blue);
            border: none;
            font-weight: $font-weight-medium;
            cursor: pointer;
        }
    }
}